body{

    font-family: 'Montserrat';
    font-weight: 300;
    background: linear-gradient(#f9aa89,#f9aa89);

}

/*
-----------------------------------------------------------
            Bootstrap Overrides
-----------------------------------------------------------

*/

a {
    color: #f9aa89;
}

a:hover {
    color: #f9aa89;
}

.navbar-default{
    background-color: #FFF;
    color: #f9aa89;
    border: 0;
    border-radius:0;
}

.navbar.navbar-default .navbar-collapse {
    background-color: #FFF;
    color: #f9aa89;
    border: 0;
}


.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #FFF;
    color: #f9aa89;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background: #f9aa89;
}

/* 3 bars */
.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}
.navbar-default .navbar-toggle:hover .icon-bar {
    background-color: #f9aa89;
}


/* background */
.navbar-default .navbar-toggle {
border-color: #f9aa89;
background-color: #f9aa89;
}

.navbar-default .navbar-toggle:hover {
    background-color: #fff;
    
}

@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

/* Remove rounded borders from list */
.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

/* Remove border and add padding to thumbnails */
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

/* Black buttons with extra padding and without rounded borders */
.btn {
    padding: 10px 20px;
    background-color: #f9aa89;
    color: #fff;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
    border: 1px solid #f9aa89;
    background-color: #fff;
    color: #f9aa89;
}

.fb:hover, .fb:active{
    color:#3b5998;
}

.twttr:hover, .twttr:active{
    color:#00aced;
}

.linkd:hover, .linkd:active{
    color:#0077b5; 
}

.yt:hover, .yt:active{
    color:#e52d27;
}

.blog:hover, .blog:active{
    color:#fb8f3d;
}
